/* *{
    margin:0;
    padding: 0;

}
body{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rebeccapurple;
}
.wrappwer{
    display: flex;
    width:70%;
    justify-content: space-around;

}
.card{
    width:500px;
    height: 500px;
    padding:30px 20px;
    position: relative; 
    background:blue;
    display: flex;
    align-items: flex-end;box-shadow: 0px 4px 5px green;
    transition:0.5s ease-in-out;
}
.card:hover{
    transform: translateY(50px);

}
.card:before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:100px;
    height:100px;
    background: rgba(0,176,155,0.5) rgba(150,201,61,1);
    z-index:2;
    transition:0.5s all;
    opacity: 0;

}
.card:hover:before{
    opacity: 1;
} */


    /* Add a hover effect with transition */
    .card:hover {
        transform: scale(1.05); /* Scale the card slightly */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scale and shadow */
      }
      

      .card.tile .subtext {
        font-size: 18px;
        font-weight: 300;
        position: absolute;
        top: 30%;
        left: 0;
        text-align: center;
        color: #fff;
        z-index: 10;
        width: 100%;
        opacity: 0;
        padding: 0 30px;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        pointer-events: none;
    }
    
    
    