*{
    padding:0;
    margin:0;
}
.navbar-brand .logo{
    font-size: 20px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 } 
 
.navbar
{
    background-color:  rgb(1, 30, 1);
    
   
}
.navbar-brand{
    font-size: 50px;
    color:rgb(131, 5, 5);
    font-style: inherit;
    font-family: 'Times New Roman', Times, serif;
}
.nav-link{
    color:white;
    
}
.nav-link:hover{
    color:rgb(131, 5, 5);
}
.d-blockm{
    width:100%;
    height: 500px;
}
.d-blockn{
    width:100%;
    height: 500px;
}
.d-blockb{
    width:100%;
    height: 500px;
}
.heading h1{
    padding-top: 20px;
    font-style:italic;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 30px;

}
.card-img{
    
    height: 500px;
}
.card{
    height: 500px;
    width: 300px; 
    box-shadow: 4px 3px black;
   
 
}




